.timer-container {
    font-family: 'Montserrat';
    margin: 50px 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
}

.input-button-container {
    display: flex;
    gap: 8px;
}

.input-button-container input {
    width: 272px;
    height: 40px;
    border: 1px solid rgb(202, 206, 209);
    border-radius: 4px;
    padding: 0 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-button-container input:not(:disabled):focus {
    background-color: rgb(249, 249, 255);
    border-color: #99afff;
}

#datetime-picker::placeholder {
    color: transparent;
}

.input-button-container button {
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;

    background: #4e75ff;
}

.input-button-container button:hover,
.input-button-container button:focus {
    background-color: #6c8cff;
}

.input-button-container button:disabled {
    background-color: #cfcfcf;
    color: #989898;
}

.timer {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}