.form {
    font-family: 'Montserrat';
    margin: 30px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-label input {
    font: inherit;
    outline: none;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.input-label input:hover {
    border-color: black;
}

.input-label input:focus {
    border-color: #4e75ff;
}

.radio-buttons {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #2e2f42;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type='radio'] {
    width: 20px;
    height: 20px;
}

input[type='radio']:not(:disabled) {
    cursor: pointer;
}

input[type='radio']:checked {
    accent-color: #4e75ff;
}

.button-submit {
    cursor: pointer;
    border: none;
    margin-top: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 8px;
    background: #4e75ff;
    color: #fff;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button-submit:hover {
    background-color: #6c8cff;
}

fieldset {
    border: 1px solid #808080;
    border-radius: 4px;
}

fieldset legend {
    text-align: start;
}